<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="Test/bootstrap.php"
         colors="true"
         columns="max">
    <testsuites>
        <testsuite name="PayStand_Unit_Tests">
            <file>Test/Unit/Observer/AfterOrderPlaceObserverTest.php</file>
            <file>Test/Unit/Helper/CloudLoggerTest.php</file>
            <file>Test/Unit/Controller/Webhook/PaystandTest.php</file>
            <file>Test/Unit/Controller/Webhook/CreateOrderFromQuoteTest.php</file>
            <file>Test/Unit/Controller/Checkout/GetQuoteDataTest.php</file>
            <file>Test/Unit/Controller/Checkout/OrderStatusTest.php</file>
            <file>Test/Unit/Controller/Checkout/QuotePaymentStatusTest.php</file>
            <file>Test/Unit/Helper/QuoteAccessTest.php</file>
            <file>Test/Unit/Helper/QuoteShippingTest.php</file>
            <file>Test/Unit/Plugin/QuoteSubmitLoggerPluginTest.php</file>
            <file>Test/Unit/Plugin/CapturedQuoteTotalsTest.php</file>
            <file>Test/Unit/Observer/InvoiceSaveAfterObserverTest.php</file>
            <file>Test/Unit/Controller/Checkout/SavePaymentDataTest.php</file>
            <file>Test/Unit/Model/CheckoutQuoteMemoTest.php</file>
            <file>Test/Unit/Plugin/Checkout/QuoteIdMemoTest.php</file>
            <file>Test/Unit/Plugin/Checkout/SuccessValidatorRepairTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
