<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="paystand_config_provider" xsi:type="object">PayStand\PayStandMagento\Model\PayStandConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="PayStand\PayStandMagento\Plugin\CsrfValidatorSkip" />
    </type>
    <type name="Magento\Checkout\Model\Session">
        <plugin name="paystand_quote_id_memo"
                type="PayStand\PayStandMagento\Plugin\Checkout\QuoteIdMemo" />
    </type>
    <type name="Magento\Checkout\Model\Session\SuccessValidator">
        <plugin name="paystand_success_validator_repair"
                type="PayStand\PayStandMagento\Plugin\Checkout\SuccessValidatorRepair" />
    </type>
</config>
